@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: rgb(1, 79, 0);
}

.container{
    width: 300px;
    height: 400px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.heart{
    font-size: 80px;
    margin-top: 10px;

}

.heart2{
    position: absolute; bottom: 0; right: 0;
    transform: rotate(180deg);
    font-size: 80px;
    margin-bottom: 10px;
    margin-right: 10px;

}
