@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: rgb(1, 79, 0);
}

.container{
    width: 300px;
    height: 400px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.suit {
  font-size: 80px;
  position: absolute;
}

.suit-top {
  top: 10px;
  left: 10px;
}

.suit-bottom {
  bottom: 10px;
  right: 10px;
}

.rotated {
  transform: rotate(180deg);
}

.card-value {
  position: absolute;
  font-size: 100px;
  top: 33%;
  right: 40%;
  text-align: center;
}


